:root {
  --white: #ffffff;
  --light-grey: #c3c3c3;
  --grey: #7f7f7f;
  --dark-grey: #212121;

  --red: #ff4a4a;

  --primary-light-color: #eeebe7;
  --primary-color: #adaba8;
  --primary-dark-color: #3b3938;

  --accent-light-color: #b4d4d2;
  --accent-color: #6f9491;
  --accent-dark-color: #526e6c;

  --disabled-button: #d0d9d7;
  --active-button: #364746;

  --text-selection: #d0d9d7;
}
